@import "variables";
@import "imports";

body {
  padding-top: 70px;
}

nav .navbar-brand {
  font-family: Pacifico;
}

.paint-selector {
  list-style: none;
  padding-left: 0px;

  .form-inline label + input {
    margin-left: 4px;
    min-width: 50px;
  }
}
