<div class="container">
  <div class="row">
    <div class="col-sm-4 hidden-print">
      <form>
        <div class="form-group" show-errors>
          <label for="corners" class="control-label">Corners</label>
          <input type="number" min="3" max="1024" class="form-control" id="corners" name="corners" ng-model="star.corners" required>
        </div>

        <div class="form-group" show-errors>
          <label for="spoke-ratio" class="control-label"">Spoke Ratio</label>
          <input type="number" step="0.05" class="form-control" id="spoke-ratio" name="spoke-ratio" ng-model="star.spokeRatio" required>
        </div>

        <div class="form-group" show-errors>
          <label for="skew" class="control-label">Skew</label>
          <input type="number" step="0.05" class="form-control" id="skew" name="skew" ng-model="star.skew" required>
        </div>

        <div class="form-group" show-errors>
          <label for="randomness" class="control-label">Randomness</label>
          <input type="number" step="0.01" class="form-control" id="randomness" name="randomness" ng-model="star.randomness" required>
        </div>

        <div class="form-group">
          <label>Fill</label>
          <paint-selector paint="star.fill"></paint-selector>
        </div>

        <div class="form-group">
          <label>Stroke</label>
          <paint-selector paint="star.stroke"></paint-selector>
        </div>

        <div class="form-group" show-errors>
          <label for="size" class="control-label">Size</label>
          <input type="number" min="0" step="10" class="form-control" id="size" name="size" ng-model="star.size" ng-change="updateBoxStyle()" required>
        </div>
      </form>
    </div>
    <div class="col-sm-8 well">
      <div ng-style="boxStyle">
        <svg-star corners="{{star.corners}}" spoke-ratio="{{star.spokeRatio}}" skew="{{star.skew}}" randomness="{{star.randomness}}" fill="{{star.fill}}" stroke="{{star.stroke}}" size="{{star.size}}"></svg-star>
      </div>
    </div>
  </div>
</div>
